/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */

h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}


.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/*-------------------------------------*/

.card {
  position: relative;
  text-align: left;
  width: 263px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px #f5f5f5;
  padding: 15px;
  box-sizing: border-box;
}

.blkbox {
  position: absolute;
  top: -50px;
  width: 100%;
  left: 0;
  border-radius: 3px;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 100;
  font-size: .75em;
  background-color: #424242;
}

.arrow {
  position: absolute;
  border-top: 7px solid #424242;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  right: 30px;
  bottom: -7px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.progress {
  background-color: #EF5F3C;
  width: 75%;
  height: 100%;
}

p {
  font-size: .75em;
  font-weight: 100;
  color: #888;
}

.bold {
  font-weight: bold;
  letter-spacing: .5px;
}


form {
  font-size: 0;
  position: relative;
}

.dollarsign {
  font-size: 1rem;
  position: absolute;
  top: 15px;
  left: 10px;
  color: #888;
  font-family: sans-serif;
}

form input {
  font-size: 1rem;
  width: 47%;
  padding: 15px 15px 15px 22px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-right: 3%;
  font-weight: 500;
}

form button {
  font-size: 1rem;
  background-color: #1CBC2C;
  width: 47%;
	padding: 15px 15px 15px 22px;
  margin-left: 3%;
  border: 0;
  color: white;
  font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
  border-radius: 3px;
}

a {
  color: #20A1D4;
  font-size: .75rem;
  font-style: italic;
  font-weight: 100;
  text-decoration: none;
}

.accent {
  color: #EF5F3C;
	font-weight: bold;
}

.last {
	display: flex;
	align-items: center;
  justify-content: center;
	margin: 12px auto 0;
}



 .button {
	height: 100%;
	width: 47%;
	background-color: #FAFAFA;
  border: 1px solid #ddd;
  border-radius: 3px;
	color: #777;
  font-weight: bold;
  box-shadow: 0 1px #ddd;
  box-sizing: border-box;
}








/* The following font information and color codes are provided for you.  They do not match the prototype
 exactly, but they are fine to use for the assignment and doing so does not count against you.
 They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect
  match to the prototype as possible.  If you do find a font/color that matches more precisely, please
	share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */


/* Your CSS code goes here */
